@import 'https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700;900&display=swap';

* {
    box-sizing: border-box;
}

body {
    background-color: #edeff2;
    font-family: 'Roboto', Arial, sans-serif;
    margin: 0;
}

.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

.left {
    float: left;
}

.right {
    float: right;
}

.mx-4 {
    margin-left: 4em;
    margin-right: 4em;
}

.my-4 {
    margin-top: 4em;
    margin-bottom: 4em;
}

.film-item {
    display: inline-block;
}

.film__poster {
    width: 430px;
    height: 500px;
    border-radius: 20px;
    position: relative;
    box-shadow: 0 5px 10px rgba(64, 116, 185, 0.3);
    letter-spacing: .025em;
    margin: auto;
}

.film__poster:hover {
    box-shadow: 0 20px 30px rgba(64, 116, 185, .3);
    transform: translateY(-5px);
    transition: transform .5s ease-in-out, box-shadow .5s ease-in-out, background .5s ease-in-out;

}

.move-bg {

 background: -webkit-linear-gradient(rgba(64, 116, 185, 0.5), rgba(64, 116, 185, 0.5), rgba(0, 153, 204, .9)), url(../assets/alien_full.jpg) no-repeat;
 background: -o-linear-gradient(rgba(64, 116, 185, 0.5), rgba(64, 116, 185, 0.5), rgba(0, 153, 204, .9)), url(../assets/alien_full.jpg) no-repeat;
 background: linear-gradient(rgba(64, 116, 185, 0.5), rgba(64, 116, 185, 0.5), rgba(0, 153, 204, .9)), url(../assets/alien_full.jpg) no-repeat;
background-position: center;
}
 

.move-bg:hover{
    animation: move-bg  5s infinite ease-in-out;
    animation-play-state: running;
}


@keyframes move-bg{
    0%{
        background-position: center center;
    }
    25%{
        background-position: 51% 45%;
    }
    50%{
        background-position: 52% 50%;
    }
    75%{
        background-position: 51% 45%;
    }
    100%{
        background-position: center center;
    }
}

.film__delete {
    width: 50px;
    height: 50px;
    background-color: #fff;
    border-radius: 50%;
    position: relative;
    left: -25px;
    top: 50px;
    opacity: 0.9;
    transition: opacity .5s ease-in-out;
}

.film__delete:hover {
    opacity: 1;
    transition: opacity .5s ease-in-out;
}

.film__delete::before,
.film__delete::after {
    content: '';
    display: block;
    width: 20px;
    height: 4px;
    border-radius: 4px;
    background-color: #4074b9;
    position: absolute;
    left: 50%;
    top: 50%;

}

.film__delete::before {
    transform: translate(-50%, -50%)rotate(45deg);
}

.film__delete::after {
    transform: translate(-50%, -50%) rotate(-45deg);
}


.film__info {
    position: absolute;
    left: 50px;
    bottom: 50px;

}

.film__director {
    color: #fff;
    font-size: 1.1em;
    font-weight: 600;
    margin-bottom: 1em;
}

.film__title,
.film__subtitle {
    color: #fff;
    font-size: 1.5em;
    font-weight: 300;
}

.film__format {
    display: inline-block;
    text-transform: uppercase;
    padding: 5px 15px;
    border-radius: 20px;
    background-color: #fff;
    color: #4074b9;
    position: absolute;
    top: 50px;
    right: 50px;
    font-size: .9em;
    opacity: 0.9;
}

.film__upload {
    position: absolute;
    bottom: 50px;
    right: 50px;
    opacity: .9;
}

.dots,
.film__duration {
    margin: 15px 10px;
    color: #333;
    font-weight: 600;
}

.dot {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #b4bec7;
    margin: 5px;
}

.dot--active {
    background-color: #4074b9;
}
